/* CSS Document */

*{
margin:0;
padding:0;
}

body{
background:url(pic1.jpg);
}


#form{
width:400px;
height:550px;
background:#000000;
background-attachment:fixed;
background-repeat:no-repeat;
margin:100px auto;
text-align:center;
opacity:.7;
border:5px solid #3333333;
border-radius:50px;
color:#CCCCCC;
}

#form img{
width:100px;
height:140px;
margin-top:-90px;
}

#form h1{
font-size:36px;
color:#FFFFFF;
margin-bottom:30px 0;
opacity:1;
font-family:Bodoni MT Black, Arial, Helvetica, sans-serif;
}
#form h2{
color:#33FF33;
}
.input{
width:250px;
height:30px;
border-radius;10px;
background:#333333;
color:#FFFFFF;
margin:5px 0;
opacity:7;
padding-left:15px;
}
#form-textarea{
height:50px;
}

.sign sup {
    font-family: Bodoni MT Black, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 50px;
    margin: auto;
    background: #0026ff;
    font-size: 20px;
    border-radius: 5px;
    color: #Edf0f5;
    border: none;
    font-weight: 600;
    margin-bottom: 15px;
}
    

